{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item font-weight-bold">
                        News feed
                    </li>
                {% for value in newsFeed %}
                    <li class="list-group-item text-sm-left text-secondary">
                        <strong>{{value.publishedAt}}</strong> {{value.author}} | {{value.title}} | {{value.url}} | {{value.description}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
