{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item font-weight-bold header-row">
                    News feed
                </li>
                {% for value in newsFeed %}
                    <li class="list-group-item text-sm-left text-secondary {{ cycle(['even', 'odd'], loop.index0) }}">
                        {{loop.index0 + 1}}. {{value.author}} ({{value.publishedAt}}) | {{value.title}}
                        | {{ value.description|length > 50 ? value.description|slice(0, 50) ~ '...' : value.description }}
                        <a href="{{value.url}}" class="text-primary" target="_blank">read more</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
